[submodule "Desafios/Desafio-02-Conceitos-do-Node.js"]
	path = Desafios/Desafio-02-Conceitos-do-Node.js
	url = https://github.com/JuDCraide/Desafio-02-Conceitos-do-Node.js
[submodule "Desafios/Desafio-03-Conceitos-do-ReactJS"]
	path = Desafios/Desafio-03-Conceitos-do-ReactJS
	url = https://github.com/JuDCraide/Desafio-03-Conceitos-do-ReactJS
[submodule "Desafios/Desafio-04-Conceitos-do-React-Native"]
	path = Desafios/Desafio-04-Conceitos-do-React-Native
	url = https://github.com/JuDCraide/Desafio-04-Conceitos-do-React-Native
[submodule "Desafios/Desafio-05-Primeiro-projeto-Node.js"]
	path = Desafios/Desafio-05-Primeiro-projeto-Node.js
	url = https://github.com/JuDCraide/Desafio-05-Primeiro-projeto-Node.js
[submodule "Desafios/Desafio-06-Banco-de-dados-e-upload-de-arquivos-no-Node.js"]
	path = Desafios/Desafio-06-Banco-de-dados-e-upload-de-arquivos-no-Node.js
	url = https://github.com/JuDCraide/Desafio-06-Banco-de-dados-e-upload-de-arquivos-no-Node.js
[submodule "Desafios/Desafio-07-GoFinances-Web"]
	path = Desafios/Desafio-07-GoFinances-Web
	url = https://github.com/JuDCraide/Desafio-07-GoFinances-Web
[submodule "Desafios/Desafio-08-Fundamentos-do-React-Native"]
	path = Desafios/Desafio-08-Fundamentos-do-React-Native
	url = https://github.com/JuDCraide/Desafio-08-Fundamentos-do-React-Native
[submodule "Desafios/Desafio-09-Relacionamentos-com-banco-de-dados-no-Node.js"]
	path = Desafios/Desafio-09-Relacionamentos-com-banco-de-dados-no-Node.js
	url = https://github.com/JuDCraide/Desafio-09-Relacionamentos-com-banco-de-dados-no-Node.js
[submodule "Desafios/Desafio-10-GoRestaurant-Web"]
	path = Desafios/Desafio-10-GoRestaurant-Web
	url = https://github.com/JuDCraide/Desafio-10-GoRestaurant-Web
[submodule "Desafios/Desafio-11-GoRestaurant-Mobile"]
	path = Desafios/Desafio-11-GoRestaurant-Mobile
	url = https://github.com/JuDCraide/Desafio-11-GoRestaurant-Mobile
[submodule "Módulos/Nível 1/Backend-com-Node"]
	path = Módulos/Nível 1/Backend-com-Node
	url = https://github.com/JuDCraide/Backend-com-Node
[submodule "Módulos/Nível 1/Frontend-com-ReactJS"]
	path = Módulos/Nível 1/Frontend-com-ReactJS
	url = https://github.com/JuDCraide/Frontend-com-ReactJS
[submodule "Módulos/Nível 1/Mobile-com-React-Native"]
	path = Módulos/Nível 1/Mobile-com-React-Native
	url = https://github.com/JuDCraide/Mobile-com-React-Native
[submodule "Módulos/Nível 1/TypeScript"]
	path = Módulos/Nível 1/TypeScript
	url = https://github.com/JuDCraide/TypeScript
[submodule "Módulos/Nível 2/Primeiro projeto com Node.JS"]
	path = Módulos/Nível 2/Primeiro projeto com Node.JS
	url = https://github.com/JuDCraide/Backend-GoBarber/
[submodule "Módulos/Nível 2/Iniciando back-end do app"]
	path = Módulos/Nível 2/Iniciando back-end do app
	url = https://github.com/JuDCraide/Backend-GoBarber/
[submodule "Módulos/Nível 3/Iniciando front-end web"]
	path = Módulos/Nível 3/Iniciando front-end web
	url = https://github.com/JuDCraide/Frontend-GoBarber
[submodule "Módulos/Nível 3/Primeiro projeto com React"]
	path = Módulos/Nível 3/Primeiro projeto com React
	url = https://github.com/JuDCraide/Github-Explorer
[submodule "Módulos/Nível 3/Iniciando aplicativo mobile"]
	path = Módulos/Nível 3/Iniciando aplicativo mobile
	url = https://github.com/JuDCraide/Mobile-GoBarber
[submodule "Módulos/Nível 4/Arquitetura e testes no Node.js"]
	path = Módulos/Nível 4/Arquitetura e testes no Node.js
	url = https://github.com/JuDCraide/Backend-GoBarber
[submodule "Módulos/Nível 4/Continuando back-end do app"]
	path = Módulos/Nível 4/Continuando back-end do app
	url = https://github.com/JuDCraide/Backend-GoBarber
[submodule "Módulos/Nível 4/Finalizando back-end do app"]
	path = Módulos/Nível 4/Finalizando back-end do app
	url = https://github.com/JuDCraide/Backend-GoBarber
